.header {
	grid-area: header;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.4);
	background-image:url(https://images.alphacoders.com/724/724313.jpg) ;
}

.header h1 {
	text-align: center;
	color: rgb(168, 118, 166);

}
